@import "tailwindcss";
@plugin "daisyui";

.thumbnail {
    aspect-ratio: 1;
    width: min(100%, 8em);
    min-width: 4em;
    container-type: size;
    display: inline-block;
}

html {
    font-size: 20px;
}
html, :root {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
