@import "tailwindcss";
@plugin "daisyui";

.thumbnail {
    aspect-ratio: 1;
    width: min(100%, 8em);
    min-width: 4em;
    container-type: size;
    display: inline-block;
}

html {
    font-size: 20px;
}
html, :root {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

wa-input, wa-textarea, wa-select, wa-option, wa-breadcrumb, wa-color-picker {
    font-size: 16px;
}

wa-option {
    padding: 0.5em 1em 0.5em 0.25em;
}

@layer theme {
    :root, :host {
        --font-sans: inherit;
        --default-font-family: inherit;
        --default-mono-font-family: inherit;
    }
}

.menu > li > *:focus {
    outline: 2px solid var(--color-info);
    outline-offset: 2px;
}

.btn-neutral:focus {
    outline-color: var(--color-info);
}
