@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, emerald, dim, wireframe;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --wa-font-family-body: 'Roboto', sans-serif;
    --wa-font-family-heading: 'Roboto', sans-serif;
    --wa-font-family-code: 'Roboto', monospace;
    --wa-font-family: 'Roboto', sans-serif;
}

@layer theme {
    :root, :host {
        --font-sans: 'Roboto', sans-serif !important;
        --default-font-family: var(--font-sans) !important;
        --default-mono-font-family: var(--font-mono) !important;
    }
}
