@import "tailwindcss";
@plugin "daisyui" {
    themes: dark --prefersdark, emerald, dim, wireframe;
}

@plugin "daisyui/theme" {
    name: "ember-nexus-light";
    default: true;
    prefersdark: false;
    color-scheme: light;

    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: #ff073a;
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(92% 0.004 286.32);
    --color-neutral-content: oklch(14% 0.005 285.823);
    /*--color-info: oklch(70% 0.2 220);*/
    /*--color-info-content: oklch(98% 0.01 220);*/
    /*--color-success: oklch(65% 0.25 140);*/
    /*--color-success-content: oklch(98% 0.01 140);*/
    /*--color-warning: oklch(80% 0.25 80);*/
    /*--color-warning-content: oklch(20% 0.05 80);*/
    /*--color-error: oklch(65% 0.3 30);*/
    /*--color-error-content: oklch(98% 0.01 30);*/

    /*--color-info: oklch(74% 0.16 232.661);*/
    /*--color-info-content: oklch(29% 0.066 243.157);*/
    /*--color-success: oklch(76% 0.177 163.223);*/
    /*--color-success-content: oklch(37% 0.077 168.94);*/
    /*--color-warning: oklch(82% 0.189 84.429);*/
    /*--color-warning-content: oklch(41% 0.112 45.904);*/
    /*--color-error: oklch(71% 0.194 13.428);*/
    /*--color-error-content: oklch(27% 0.105 12.094);*/

    --color-info: #0071ec; /* wa blue 50*/
    --color-info-content: oklch(100% 0 0);
    --color-success: #00883c; /* wa green 50*/
    --color-success-content: oklch(100% 0 0);
    --color-warning: #ef9d00; /* wa yellow 70*/
    --color-warning-content: oklch(100% 0 0);
    --color-error: #dc3146; /* wa red 50*/
    --color-error-content: oklch(100% 0 0);

    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --wa-font-family-body: 'Roboto', sans-serif;
    --wa-font-family-heading: 'Roboto', sans-serif;
    --wa-font-family-code: 'Roboto', monospace;
    --wa-font-family: 'Roboto', sans-serif;
}

@layer theme {
    :root, :host {
        --font-sans: 'Roboto', sans-serif !important;
        --default-font-family: var(--font-sans) !important;
        --default-mono-font-family: var(--font-mono) !important;
    }
}
